*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
hs_err*.log
dependency-reduced-pom.xml
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
target/
*/metastore_db
*/spark-warehouse
