<settings>
 <profiles>
   <profile>
     <id>gpuwa</id>
     <properties>
       <altSnapshotDeploymentRepository>snapshots::default::https://gpuwa.nvidia.com/artifactory/sw-spark-maven-local</altSnapshotDeploymentRepository>
       <altReleaseDeploymentRepository>releases::default::https://gpuwa.nvidia.com/artifactory/sw-spark-maven-local</altReleaseDeploymentRepository>
     </properties>
   </profile>
 </profiles>
</settings>