# Copyright (c) 2022, NVIDIA CORPORATION.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# A workflow to check if PR got broken hyperlinks
name: Check Markdown links

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
#    - uses: gaurav-nelson/github-action-markdown-link-check@v1
    - uses: nvliyuan/github-action-markdown-link-check@fix-markdown-check-fail
      with:
        max-depth: -1
        use-verbose-mode: 'yes'
        check-modified-files-only: 'yes'
        config-file: '.github/workflows/markdown-links-check/markdown-links-check-config.json'
        base-branch: 'gh-pages'
        
        