# Copyright (c) 2022, NVIDIA CORPORATION.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# A workflow to run mvn verify check
name: mvn[compile,RAT,scalastyle,docgen]

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  get-noSnapshot-versions-from-dist:
    runs-on: ubuntu-latest
    outputs:
      sparkHeadVersion: ${{ steps.noSnapshotVersionsStep.outputs.headVersion }}
      sparkTailVersions: ${{ steps.noSnapshotVersionsStep.outputs.tailVersions }}
      sparkJDK11Versions: ${{ steps.noSnapshotVersionsStep.outputs.jdk11Versions }}
      sparkSnapshotOnlyVersions: ${{ steps.snapshotVersionsStep.outputs.snapshotVersions }}
    steps:
      - uses: actions/checkout@v3 # refs/pull/:prNumber/merge

      - name: Setup Java and Maven Env
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 8

      - name: all noSnapshot versions
        id: noSnapshotVersionsStep
        run: |
          set -x
          . jenkins/version-def.sh
          svArrBody=$(printf ",{\"spark-version\":\"%s\"}" "${SPARK_SHIM_VERSIONS_NOSNAPSHOTS_TAIL[@]}")
          svArrBody=${svArrBody:1}
          svJsonStr=$(printf {\"include\":[%s]} $svArrBody)
          echo "headVersion=$SPARK_BASE_SHIM_VERSION" >> $GITHUB_OUTPUT
          echo "tailVersions=$svJsonStr" >> $GITHUB_OUTPUT
          jdkVersionArrBody=$(printf ",{\"spark-version\":\"%s\"}" "${SPARK_SHIM_VERSIONS_JDK11[@]}")
          jdkVersionArrBody=${jdkVersionArrBody:1}
          jdkVersionJsonStr=$(printf {\"include\":[%s]} $jdkVersionArrBody)
          echo "jdk11Versions=$jdkVersionJsonStr" >> $GITHUB_OUTPUT

      - name: Snapshot versions only
        id: snapshotVersionsStep
        run: |
          set -x
          . jenkins/version-def.sh
          svArrBody=$(printf ",{\"spark-version\":\"%s\"}" "${SPARK_SHIM_VERSIONS_SNAPSHOTS_ONLY[@]}")
          svArrBody=${svArrBody:1}
          svJsonStr=$(printf {\"include\":[%s]} $svArrBody)
          echo "snapshotVersions=$svJsonStr" >> $GITHUB_OUTPUT

  package-aggregator:
    needs: get-noSnapshot-versions-from-dist
    strategy:
      matrix: ${{ fromJSON(needs.get-noSnapshot-versions-from-dist.outputs.sparkTailVersions) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # refs/pull/:prNumber/merge

      - name: Setup Java and Maven Env
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 8

      - name: package aggregator check
        run: >
          mvn -Dmaven.wagon.http.retryHandler.count=3 -B package -pl aggregator -am
          -P 'individual,pre-merge'
          -Dbuildver=${{ matrix.spark-version }}
          -DskipTests
          -Dskip
          -Dmaven.javadoc.skip
          -Dmaven.scalastyle.skip=true
          -Drat.skip=true
          
  package-snapshotsOnly-aggregator:
    needs: get-noSnapshot-versions-from-dist
    strategy:
      matrix: ${{ fromJSON(needs.get-noSnapshot-versions-from-dist.outputs.sparkSnapshotOnlyVersions) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # refs/pull/:prNumber/merge

      - name: Setup Java and Maven Env
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 8

      - name: package aggregator check for snapshot builds
        continue-on-error: true
        run: >
          mvn -Dmaven.wagon.http.retryHandler.count=3 -B package -pl aggregator -am
          -P 'individual,pre-merge'
          -Dbuildver=${{ matrix.spark-version }}
          -DskipTests
          -Dskip
          -Dmaven.javadoc.skip
          -Dmaven.scalastyle.skip=true
          -Drat.skip=true        

  verify-all-modules-with-headSparkVersion:
    needs: get-noSnapshot-versions-from-dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # refs/pull/:prNumber/merge

      - name: Setup Java and Maven Env
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 8

      # includes RAT, code style and doc-gen checks of default shim
      - name: verify all modules with lowest-supported Spark version
        run: >
          mvn -Dmaven.wagon.http.retryHandler.count=3 -B verify
          -P 'individual,pre-merge'
          -Dbuildver=${{ needs.get-noSnapshot-versions-from-dist.outputs.sparkHeadVersion }}
          -DskipTests
          -Dskip
          -Dmaven.javadoc.skip

  verify-modules-with-jdk11:
    needs: get-noSnapshot-versions-from-dist
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.get-noSnapshot-versions-from-dist.outputs.sparkJDK11Versions) }}
    steps:
      - uses: actions/checkout@v3 # refs/pull/:prNumber/merge

      - name: Setup Java and Maven Env
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 11
      
      - name: Build JDK11
        run: >
          mvn -Dmaven.wagon.http.retryHandler.count=3 -B verify
          -P 'individual,pre-merge'
          -Dbuildver=${{ matrix.spark-version }}
          -Dmaven.compiler.release=11
          -Dmaven.compiler.source=11
          -Dmaven.compiler.target=11
          -Dscala.plugin.version=4.6.1
          -DallowConventionalDistJar=true
          -DskipTests
          -Dskip
          -Dmaven.javadoc.skip
          