# Copyright (c) 2025, NVIDIA CORPORATION.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# A workflow to check if comment exists in PR description
name: pr description check

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  pr-description-check:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      statuses: write
      contents: read  
    if: "!contains(github.event.pull_request.title, '[bot]')"
    steps:
      - name: pr-desciption-check
        uses: NVIDIA/spark-rapids-common/pr-description-check@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
